@import "fonts", "buttons", "header", "footer", "main";

body {
    background-image: url(../img/background-image.webp);
    font-family: pixels;
    min-height: 100%;

    li {
        list-style: none;
        display: inline;
        padding: 10px;
    }
}