@import "fonts", "buttons", "header", "footer", "main";

body {
    background-image: url(../img/background-image.webp);
    background-repeat: no-repeat;
    font-family: pixels;

    li {
        list-style: none;
        display: inline;
        padding: 10px;
    }
}