@import "fonts", "buttons", "header", "footer";

body {
    background-image: url(../img/background-image.webp);
    font-family: pixels;

    li {
        list-style: none;
        display: inline;
        padding: 10px;
    }
}